body {
    background-color: #e9ecef;
    background-image:url('/assets/images/maze.png');
    background-repeat:repeat;
    padding: 60px 0;
}
/* override Bootstrap Components */
.well {
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input, select, textarea { border-radius: 0 !important; }
/* Modal */
.modal-small-size { width: 300px; }
.modal-medium-size { width: 500px; }

.modal-header { color: #ffffff; background-color: #265fa4; }
.modal-header .close { color: #ffffff; }

.modal-body .alert { display: none; padding: 5px 10px; !important; }

.modal-footer { background-color: #f3f5f7; }

/*.create-group-modal { margin: auto; width: 500px; }*/
.create-group-modal #group_size { width: 200px; }
.create-group-modal #group_description { height: 100px; resize: none; }

/* CUSTOM SHITS */
/*
subtext should be a span
*/
.message-holder {
    display: none;
    left: 0;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    top: 55px;
    z-index: 10000;
    width: 100%;
}

.message-holder span {
    background: #fdfcc4;
    border: 1px solid #eae99e;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 1px 2px 0 rgba(213,219,225,.6);
    padding: 8px 25px;
    position: static;
    text-align: center;
}
/*.subtext { display: block; }*/
