/* Fonts
---------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Global
---------------------------------------------------------------*/
body {
    background-color: #e9ecef;
    background-attachment:fixed;
    background-image:url('/assets/images/maze.png');
    background-repeat:repeat;
    font-family: 'Roboto';
    padding: 70px 0;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Roboto'; }

.navbar-header .navbar-brand {
    background: url('/assets/images/logo.png') no-repeat center top;
    display: none;
    height: 48px;
    width: 120px;
}

.navigation-items .navbar-nav li a {
    border-right: 1px solid #ffffff;
    line-height: 22px;
    padding: 12px 15px;
}

.navigation-items .navbar-nav li:first-child a {
    border-left: 1px solid #ffffff;
}

.navigation-items .navbar-form { margin: 8px 0 4px 0; }
.navbar-header .notification-mobile { width: 54px; }
.navbar-header .notification-mobile a.dropdown-toggle {
    display: inline-block;
    font-size: 24px;
    line-height: 22px;
    padding: 12px 15px;
    width: 54px;
}

.navbar-header .notification-mobile .notification-stream li a { font-size: 13px; }

.navigation-items .navbar-nav li a.menu-items { font-size: 24px; }
.navigation-items .navbar-nav li a span { font-size: 13px; display: none; }
.nav-profile-avatar a { padding: 9px 12px !important; }
.nav-profile-avatar a img { margin: 0 5px 0; }
.navigation-items .navbar-nav .dropdown .dropdown-menu li a { padding: 3px 10px; }
.navigation-items .navbar-nav .notification-dropdown .notification-count {
    display: none;
}

.navbar-header .notification-mobile .notification-stream,
.navigation-items .navbar-nav .notification-dropdown .notification-stream { width: 400px; }
.navbar-header .notification-mobile .notification-stream li a,
.navigation-items .navbar-nav .notification-dropdown .notification-stream li a { color:  #428bca; }
.navbar-header .notification-mobile .notification-stream li a:hover,
.navigation-items .navbar-nav .notification-dropdown .notification-stream li a:hover { color: #ffffff; }
.navbar-header .notification-mobile .notification-stream .see-all a,
.navigation-items .navbar-nav .notification-dropdown .notification-stream .see-all a {
    font-weight: bold;
    text-align: center;
}

.navbar-header .notification-mobile .notification-stream li a i,
.navigation-items .navbar-nav .notification-dropdown .notification-stream li a i { margin: 5px 5px 0; vertical-align: top; }
.navbar-header .notification-mobile .notification-stream li a .message,
.navigation-items .navbar-nav .notification-dropdown .notification-stream li a .message {
    display: inline-block;
    width: 330px;
    white-space: normal;
    word-wrap: break-word;
}

.navigation-items .navbar-nav .notification-dropdown .notification-stream .see-all a:hover {
    background-color: #ffffff;
    color:  #428bca;
    text-decoration: underline;
}

/* override Bootstrap Components */
.well {
    background-color: #ffffff;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

input, select, textarea { border-radius: 0 !important; }

/* Modal */
.modal-small-size { width: 300px; }
.modal-medium-size { width: 500px; }

.modal-header { color: #ffffff; background-color: #265fa4; }
.modal-header .close { color: #ffffff; }

.modal-body .alert { display: none; padding: 5px 10px !important; }
.modal-body form { margin: 0; }
.delete-post-modal-message { text-align: center; }

/* quiz list */
.modal-body .quiz-list { list-style: none; margin: 0 -20px; padding: 0; }
.modal-body .quiz-list li { border-top: 1px solid #ccc; padding: 5px 20px; }

.modal-body.report-problem-modal .things-to-write { margin: 0; padding: 0 15px; }
.modal-body.report-problem-modal form { margin-top: 10px; }

.modal-footer { background-color: #f3f5f7; margin-top: 0; }

/*.create-group-modal { margin: auto; width: 500px; }*/
.create-group-modal #group_size { width: 200px; }
.create-group-modal #group_description { height: 100px; resize: none; }

.footer { font-size: 13px; padding: 20px 0; }
.footer ul { list-style: none; margin: 0; padding: 0; }
.footer ul li { display: inline-block; padding: 0 5px; }
.footer ul li:first-child { padding-left: 0; }

/* CUSTOM SHITS */
/*
subtext should be a span
*/
.message-holder {
    display: none;
    left: 0;
    padding-top: 5px;
    position: fixed;
    text-align: center;
    top: 55px;
    z-index: 10000;
    width: 100%;
}

.message-holder span {
    background: #fdfcc4;
    border: 1px solid #eae99e;
    border-radius: 0 0 2px 2px;
    box-shadow: 0 1px 2px 0 rgba(213,219,225,.6);
    padding: 8px 25px;
    position: static;
    text-align: center;
}

.group-chat-notification ul { list-style: none; margin: 0; padding: 0; }
.group-chat-notification ul li a { margin: 10px 0; }
.group-chat-notification ul li a:last-child { margin-left: 10px; }

/*------------------------------------------------------------------------------
Group Chat
------------------------------------------------------------------------------*/
.chat-box {
    color:#333;
    width:200px; /* Chatbox width */
    border:1px solid #344150;
    border-bottom:none;
    background-color:white;
    position:fixed;
    right:10px;
    bottom:0;
    z-index:9999;
    -webkit-box-shadow:1px 1px 5px rgba(0,0,0,.2);
    -moz-box-shadow:1px 1px 5px rgba(0,0,0,.2);
    box-shadow:1px 1px 5px rgba(0,0,0,.2);
}

.chat-box > input[type="checkbox"] {
    display:block;
    margin:0 0;
    padding:0 0;
    position:absolute;
    top:0;
    right:0;
    left:0;
    width:100%;
    height:26px;
    z-index:4;
    cursor:pointer;
    opacity:0;
    filter:alpha(opacity=0);
}

.chat-box > label {
    display:block;
    height:24px;
    line-height:24px;
    background-color:#344150;
    color:white;
    font-weight:bold;
    padding:0 1em 1px;
}

.chat-box > label:before {content:attr(data-collapsed)}
.chat-box .chat-box-content { padding:10px; display:none; }
/* hover state */
.chat-box > input[type="checkbox"]:hover + label { background-color:#404D5A }

/* checked state */
.chat-box > input[type="checkbox"]:checked + label { background-color:#212A35 }
.chat-box > input[type="checkbox"]:checked + label:before {c ontent:attr(data-expanded) }
.chat-box > input[type="checkbox"]:checked ~ .chat-box-content { display:block }

/* Search Bar */
.selectize-dropdown-content .search-result a img { margin-right: 10px; }
.selectize-dropdown-content .search-result a i { margin-right: 10px; }
.selectize-dropdown-content .search-result a:hover i { text-decoration: none; }

/* Scrollbar */
::-webkit-scrollbar { width: 12px; }
::-webkit-scrollbar-track { background-color: #c3c3c3; }
::-webkit-scrollbar-thumb { background-color: #a4a4a4; }

/* Responsive Shizs
---------------------------------------------------------------*/
@media (max-width: 767px) {
    .navbar-header .navbar-brand { display: block; }
    .navigation-items .navbar-form .input-group { width: 100%; }
    .navigation-items .navbar-nav li a span { display: inline-block; }
    .navigation-items .right-navbar { display: none; }
}

@media (min-width: 768px) {
    .navigation-items .navbar-form .input-group { width: 240px; }
}

@media (min-width: 992px) {
    .navigation-items .navbar-form .input-group { width: 440px; }
}

@media (max-width: 500px) {
    .modal-medium-size { width: 440px; }
}
